*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box{
    background-color: hsla(213, 20%, 18%, 0.61);
    border-radius: 20px;
    height: 330px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
    padding-left: 20px;
    padding-right: 10px;
     
}
.star-background{
    background-color: hsl(213, 19%, 18%);
    height:38px;
    width:38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-img{
    height: 13px;
    width: 13px;
}
h2{
    font-family: Overpass;
    color: white;
    margin-bottom: 8px;
}
p{
    font-family: Overpass;
    font-size: 13px;
    color: hsl(217, 12%, 63%);
    text-align:left;
    margin-right: 10px;
    line-height: 18px;
    word-spacing: 2px;
    margin-right: 10px;
}
.rating{
    display: flex;
    gap: 20px;
}
.rates{
    background-color: hsl(213, 19%, 18%);
    border: hsl(213, 19%, 18%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    font-family: Overpass;
    font-weight: 700;
}
.rates:hover{
    background-color: hsl(25, 97%, 53%);
    cursor:cell;
    color: hsla(216, 12%, 8%, 0.849)
}
.rates:focus{
    background-color: white;
    color: hsl(216, 12%, 8%);
}
#submit{
    background-color: hsl(25, 97%, 53%);
    height: 36px;
    width: 95%;
    border: hsl(25, 97%, 53%);
    border-radius: 20px;
    font-family: Overpass;
    font-weight: 700;
    letter-spacing: 2px;
    color: hsla(216, 12%, 8%, 0.849);
}
#submit:hover{
    background-color: white;
    cursor: cell;
}

.thankyou-box{
    background-color: hsla(213, 20%, 18%, 0.61);
    border-radius: 20px;
    height: 330px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    display: none;
}
.thankyou-img{
    height:90px;
    width: 110px;
    rotate: 5deg;
}
.selection-info{
    background-color: hsl(213, 19%, 18%);
    border-radius: 10px;
    width: 165px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selection-text{
    margin-left: 5px;
    color: hsl(25, 97%, 53%);
}
.thankyou-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thankyou-text{
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    text-align:center;
}